package {{config.shuffleboard_package}};

import {{config.game_package}}.{{config.game_name}}Controller;
import org.snobot.coordinate_gui.model.Distance;
import {{config.shuffleboard_package}}.data.{{config.game_name}}CoordinateGuiData;
import org.snobot.coordinate_gui.shuffleboard.widgets.BaseCoordinateGuiWidget;

import edu.wpi.first.shuffleboard.api.widget.Description;
import edu.wpi.first.shuffleboard.api.widget.ParametrizedController;

@Description(name = "Coordinate GUI", dataTypes = {% raw %}{{% endraw %}{{config.game_name}}CoordinateGuiData.class})
@ParametrizedController("{{subfield}}CoordinateGuiWidget.fxml")
public class {{subfield}}CoordinateGuiWidget extends BaseCoordinateGuiWidget<{{config.game_name}}CoordinateGuiData, {{config.game_name}}Controller>
{
    public {{subfield}}CoordinateGuiWidget()
    {
        super(Distance.Unit.Inch);
    }
}

